.header {
	background: url("https://images.pexels.com/photos/4101555/pexels-photo-4101555.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
	width: 100%;
	height: 400px;
	/* object-fit: cover; */
	background-size: cover;
	margin-bottom: 20px;
    padding-bottom: 50px;
}

#headerTitles {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	margin-top: 60px;
	font-family: "Mochiy Pop One", sans-serif;
	color: #444;
}

.headerTitleSm {
	position: absolute;
	top: 10px;
	font-size: 20px;
}

.headerTitleLg {
	position: absolute;
	font-size: 50px;
}

/* .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
} */
