@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bowlby+One+SC&family=Electrolize&family=Faster+One&family=Fruktur&family=Josefin+Sans:wght@600&family=Julius+Sans+One&family=Kings&family=Luckiest+Guy&family=Mochiy+Pop+One&family=Nosifer&family=Patrick+Hand&family=Poiret+One&family=Sigmar+One&family=Varela&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Darker+Grotesque:wght@300&family=Monoton&family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');


.singlePost {
	flex: 9;
	height: 100vw;
}

.singlePostWrapper {
	padding: 20px;
	padding-right: 0;
	top: 3.5em;
	display: flex;
	flex-direction: column;
}

.singlePostImg {
	width: 100%;
	height: 300px;
	border-radius: 5px;
	border: 2px outset yellowgreen;
}

.singlePostTitle {
	text-align: center;
	margin: 10px;
	font-family: "Arima Madurai";
	font-size: 28px;
  background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.singlePostAutor{
	color: #9C51B6;
}

.singlePostDate{
	color: #2243B6;
}


.singlePostTitleInput {
	text-align: center;
	margin: 20px;
	font-family: "Arima Madurai";
	font-size: 28px;
	border: 4px groove yellowgreen;
	color: #CCFF00;
	
}

.singlePostTitleInput:focus {
	outline: none;
}

.singlePostEdit {
	float: right;
	font-size: 16px;
}

.singlePostIcon {
	margin-left: 10px;
	cursor: pointer;
}

.singlePostIcon1 {
	color: yellowgreen;
	padding: 5px;
	margin-right: 10px;
	width: 30px;
    height: 30px;
	border: 3px solid transparent; 
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.singlePostIcon2 {
	color: #FF007C;
	padding: 5px;
	width: 30px;
    height: 30px;
	border: 2px solid ;
}

.singlePostInfo {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-family: "Varela Round", sans-serif;
	color: #302f2d;
}

.singlePostDesc {
	font-size: 18px;
	line-height: 25px;
	text-align: justify;
	background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.singlePostDesc:first-letter {
	margin-left: 20px;
	font-size: 30px;
	font-weight: 600;
}

.singlePostDescInput {
	border: 3px groove yellowgreen;
	color: #CCFF00;
	font-size: 18px;
	/* line-height: 25px; */
}

.singlePostDescInput:focus {
	outline: none;
}

.singlePostButton {
	width: 100px;
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
	padding: 5px;
	margin-top: 30px;
	color: white;
	border: 3px solid;
	border-radius: 5px;
	cursor: pointer;
	align-self: flex-end;
}
