.playerBox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    /* border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1; */
}