.loginContainer {
	background-image: 
		url(https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: cover;
	height: 100vh;
}
.login {
	/* height: calc(100% - 50px); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* margin-top: 10%; */
	margin-bottom: 35%;
}

.loginTitle {
	top: 50px;
	font-size: 50px;
	color: #0048BA;
}

.loginForm {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	color: #FF007C;

}

.loginForm > label {
	margin: 10px 0;
}

.loginInput {
	padding: 10px;
	background-color: white;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.loginButton {
	margin-top: 20px;
	cursor: pointer;
	background-color: #FF007C;
	border: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1
}

.loginBUtton:disabled {
	cursor: not-allowed;
	background-color: coral;
}

.loginRegisterButton {
	position: absolute;
	top: 15%;
	right: 20px;
	background-color: teal;
	cursor: pointer;
	border: none;
	color: white;
	padding: 7px;
	border-radius: 10px;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1
}
