.registerContainer {
	background-image: url(https://image.freepik.com/free-photo/light-from-open-door_53876-74776.jpg);
	background-size: contain;
	height: 100vh;
}
.register {
	/* height: calc(100% - 50px); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* margin-top: 100px; */
	margin-bottom: 20px;
}

.registerTitle {
	font-size: 50px;
	margin-top: 50px;
	color: teal;
	/* background-image: linear-gradient(
		to left,
		violet,
		indigo,
		blue,
		green,
		yellow,
		orange,
		red
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

.registerForm {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	color: #ff007c;
}

.registerForm > label {
	margin: 0px 0;
}

.registerInput {
	padding: 5px;
	background-color: white;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.registerButton {
	margin-top: 40px;
	cursor: pointer;
	background-color: teal;
	border: none;
	color: white;
	border-radius: 10px;
	padding: 5px;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.registerLoginButton {
	position: absolute;
	top: 15%;
	right: 45px;
	background-color: #ff3399;
	cursor: pointer;
	border: none;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}
