.settings {
	display: flex;
	padding-bottom: 20%;
	padding-left: 15px; 
}

.settingsWrapper {
	flex: 9;
	padding: 20px;
}

.settingsTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 40px;
}

.settingsUpdateTitle {
	font-size: 30px;
	margin-bottom: 20px;
	color: #0048BA;
	display: flex;
	box-shadow: burlywood;

}

.settingsDeleteTitle {
	color: red;
	font-size: 12px;
	cursor: pointer;
}

.settingsForm {
	display: flex;
	flex-direction: column;
	top: 20px;
}

.settingsPP {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.settingsPP > img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.settingsPPIcon {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: beige;
	color: #9C51B6;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	cursor: pointer;
}

.settingsForm > label {
	font-size: 20px;
	margin-top: 20px;
}

.settingsForm > input {
	color: grey;
	margin: 10px;
	height: 30px;
	border: 30px;
	border-bottom: 1 px solid lightgrey;
}

.settingsSumit {
	width: 150px;
	align-self: center;
	border-radius: 10px;
	color: white;
	background-color: #FF5470;
	padding: 5px;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
	margin-top: 20px;
	cursor: pointer;
	bottom: 30%;
}

.userNameInput{
	border: 1px solid yellowgreen;
	background-color: beige;
}

