@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Luckiest+Guy&family=Original+Surfer&family=Rubik+Mono+One&display=swap');

.snaps {
	padding-top: 80px;
	padding-bottom: 200px;
	display: flex;
	flex-direction: column;
}

.snaps h2 {
	text-align: center;
	font-family: 'Original Surfer', cursive;
	    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}
@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.snapsImg {
	margin-left: 150px;
	width: 70vw;
	height: 300px;
	margin-bottom: 10px;
	border-radius: 10px;
	object-fit: none;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.snapsForm {
	position: relative;
}

.snapsFormGroup {
	margin-left: 150px;
	/* display: flex;   */
	align-items: center;
	margin-left: 150px;
}

.snapsIcon {
	width: 50px;
	height: 40px;
	margin-top: 10px;
	/* margin-top: 20px; */
	padding: 5px;
	border-radius: 10%;
	border: 2px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(58, 52, 52);
	cursor: pointer;
	color: yellowgreen;
}

.snapsInput {
	font-size: 30px;
	display: flex;
	border: none;
	padding: 10px;
	width: 70vw;
	margin-top: 20px;
	background-image: radial-gradient(
		circle,
		#c5d5e0,
		#bbc9d2,
		#b1bdc5,
		#a8b2b8,
		#9ea6ab,
		#9aa5ac,
		#97a4ad,
		#93a3ae,
		#97acbe,
		#9cb4cd,
		#a4bbdd,
		#aec2ed
	);
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.snapsInput:focus {
	outline: none;
}

.snapsText {
	font-size: 20px;
	height: 30vh;
}

.writeInput {
	width: 70vw;
}

.snapsSubmit {
	position: absolute;
	/* display: flex; */
	top: 105%;
	left: 45%;
	margin: 10px;
	float: left;
	color: rgb(255, 0, 157);
	background-color: yellowgreen;
	padding: 7px;
	border: 3px solid #2243b6;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
	width: 100px;
}
