.write {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}

/* .write form { max-width:420px; margin:50px auto; } */

.writeTitleName {
	text-align: center;
	font-family: 'Original Surfer', cursive;
	font-size: 30px;
	margin-bottom: 20px ;
	background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}
.wirteImg {
	margin-left: 150px;
	width: 70vw;
	height: 250px;
	border-radius: 10px;
	object-fit: none;
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.writeForm {
	position: relative;
}

.writeFormGroup {
	/* margin-left: 150px;
  display: flex;  
  align-items: center; */
	margin-left: 150px;
}

.writeIcon {
	width: 60px;
	height: 50px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 10%;
	border: 2px solid;
	display: flex;
	color: #ff00cc;
	cursor: pointer;
}

.writeInput {
	font-size: 30px;
	display: flex;
	border: none;
	padding: 10px;
	width: 68vw;
	margin-top: 20px;
	background-image: radial-gradient(
		circle,
		#c5d5e0,
		#bbc9d2,
		#b1bdc5,
		#a8b2b8,
		#9ea6ab,
		#9aa5ac,
		#97a4ad,
		#93a3ae,
		#97acbe,
		#9cb4cd,
		#a4bbdd,
		#aec2ed
	);
	border: 3px solid transparent;
	border-image: linear-gradient(
		to bottom right,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
}

.writeInput:focus {
	outline: none;
}

.writeText {
	font-size: 20px;
	height: 100vh;
}

.writeSubmit {
	position: absolute;
	top: 20px;
	right: 15%;
	color: #2243b6;
	background-color: #cc553d;
	padding: 10px;
	border: 3px groove #ff00cc;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	width: 100px;
}
