.impressumBox {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    margin: 40px;
    padding: 20;
    color: #BFAFB2;
    font-size: 12px;

}

.impressumTitle {
    margin-left: 50px;
    margin-top: 20px;
    color:#7FFFD4;    
}

.impressumContant{
    margin-top: 25px;
    color: #A6A6A6;
}

.e-adresse a {
    font-weight: bold;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

